<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <title>Admin panel</title>
</head>
<body>
<!--Navbar-->
<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap ps-3 pe-3 shadow" id="navbar">
    <a class="navbar-brand col-sm-3 col-md-2" id="navBarBrand"></a>
    <ul class="navbar-nav ">
        <li class="nav-item text-nowrap">
            <a class="nav-link" href="/logout">Logout</a>
        </li>
    </ul>
</header>

<!--таблица юзеров-->
<div class="container-fluid">
    <div class="row">

        <!--Sidebar Menu-->
        <nav class="col-2 bg-white sidebar p-0">
            <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                    <a class="nav-link active" href="/admin">
                        Admin
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/user" >
                        User
                    </a>
                </li>
            </ul>
        </nav>

        <main role="main" class="col-10 bg-light p-4">
            <div class="h1 fw-bold">
                Admin panel
            </div>

            <!--Tabs: Users table & New User-->
            <nav class="nav nav-tabs" id="nav-tab">
                <button class="nav-link active" id="nav-allUsers-tab"
                        data-bs-toggle="tab" role="tab"  data-bs-target="#nav-allUsers"
                        aria-controls="nav-allUsers" aria-selected="true">Users table
                </button>
                <button class="nav-link" id="nav-newUser-tab"
                        data-bs-toggle="tab" role="tab" data-bs-target="#nav-newUser"
                        aria-controls="nav-newUser" aria-selected="false">New User
                </button>
            </nav>

            <!--Tab Users table-->
            <div class="tab-content " id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-allUsers" role="tabpanel" aria-labelledby="nav-allUsers-tab">
                    <div class="h2 bg-light ps-3">All users</div>
                    <div class="table-responsive">
                        <table class="table table-striped table-borderless table-sm bg-white" id="mainTableWithUsers">
                            <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">First Name</th>
                                <th scope="col">Last Name</th>
                                <th scope="col">Email</th>
                                <th scope="col">Role</th>
                                <th scope="col">Edit</th>
                                <th scope="col">Delete</th>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>

                <!--Tab New User-->
                <div class="tab-pane fade" id="nav-newUser" role="tabpanel" aria-labelledby="nav-newUser-tab">
                    <div class="h2 bg-light ps-3">Add new user</div>
                    <div class="container-fluid  bg-white text-center">
                        <div class="d-flex justify-content-center">
                            <div class="form-group align-items-center">
                                <form id="addUserForm">
                                    <div class="mb-3">
                                        <label for="newFirstName" class="form-label fw-bold mb-0">First
                                            name</label>
                                        <input class="form-control" id="newFirstName" type="text"
                                               placeholder="First name">
                                    </div>
                                    <div class="mb-3">
                                        <label for="newLastName" class="form-label fw-bold mb-0">Last
                                            name</label>
                                        <input class="form-control" id="newLastName" type="text"
                                               placeholder="Last name">
                                    </div>
                                    <div class="mb-3">
                                        <label for="newEmail" class="form-label fw-bold mb-0">Email</label>
                                        <input class="form-control" id="newEmail" type="text"
                                               placeholder="Email">
                                    </div>
                                    <div class="mb-3">
                                        <label for="newPassword" class="form-label fw-bold mb-0">Password</label>
                                        <input class="form-control" id="newPassword" type="password"
                                               placeholder="password">
                                    </div>
                                    <label for="newRoles" class="form-label fw-bold mb-0">Role</label>
                                    <select class="form-select mb-3" id="newRoles" name="roles[]"
                                            size="2" multiple aria-label="multiple select roles">
                                    </select>
                                    <button class="btn btn-success mb-2" id="addNewUserButton" type="button"
                                            data-bs-target="#nav-allUsers-tab">
                                        Add new user
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>


        <!--Modal: User Form for edit or delete -->
        <div class="modal fade" id="modalFormUser">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Modal title</h5>
                        <button type="button" class="btn-close"
                                data-bs-dismiss="modal"
                                aria-label="Close">
                        </button>
                    </div>
                    <div class="modal-body">
                    </div>
                    <div class="modal-footer">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<script src="/js/admin.js"></script>
</body>
</html>